# Token for GitHub API access
GITHUB_TOKEN=ghp_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Set the environement for which the page needs to show the services
SERVICES_ENVIRONMENT=
# String path to the services.json file to use, defaults to services.json
# SERVICES_FILE=

MTLS_CERT=
MTLS_KEY=
MTLS_CA=

# Basic auth credentials for mgo services
# BASIC_AUTH_MGO_USERNAME=
# BASIC_AUTH_MGO_PASSWORD=

# Optional, defaults to GFModules Overview
# APP_NAME=