# Token for GitHub API access
GITHUB_TOKEN=ghp_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Set the environement for which the page needs to show the services
SERVICES_ENVIRONMENT=
MTLS_CERT=
MTLS_KEY=
MTLS_CA=